.login-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
}

.login-button {
  font-family: 'League Gothic', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #F1F2F1; /* Matches the navbar text color */
  background-color: #C8102E; /* Matches the navbar background */
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-transform: uppercase;
}

.login-button:hover {
  background-color: #8b6c71; /* Darker green for hover */
  transform: scale(1.1);
}

.login-button:active {
  background-color: #6d091a; /* Even darker green for active */
  transform: scale(1);
}

.login-button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}